NEXT_PUBLIC_SUPABASE_URL=https://timpxdtskgujtzpbgcvq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRpbXB4ZHRza2d1anR6cGJnY3ZxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI0NTU3ODMsImV4cCI6MjA3ODAzMTc4M30.RIrmzERb_newm2rfXI4R9v8VF2f4OTR26VgpnrwO5mI
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRpbXB4ZHRza2d1anR6cGJnY3ZxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MjQ1NTc4MywiZXhwIjoyMDc4MDMxNzgzfQ.c5FAkz0Uty3hgV7OLum10lC81qSG5xwhcduOJsnNBGQ